In [1]:
class Human:
    def __init__(self):
        self.name = ""
        self.age = 0

    def set_name(self,name):
        self.name = name

    def set_age(self,age):
        self.age = age

    def printinfo(self):
        print(self.name)
        print(self.age)

a001 = Human()

a001.set_name("tanaka")
a001.set_age(35)

a001.printinfo()

tanaka
35